<div class="container animated fadeIn fast">
    <h3 class="text-center">{{ municipioSeleccionado.nombre }} </h3>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <img [src]="municipioSeleccionado.imagen" alt="{{municipioSeleccionado.nombre}}">
            <h4>Localización:</h4>
            <p class="text-justify"> {{ municipioSeleccionado.descripcion }} </p>
            <h4>Extensión:</h4>
            <p class="text-justify"> {{ municipioSeleccionado.extension }} </p>
        </div>
        <div class="col-md-5 col-sm-12">
            <h4>Clima:</h4>
            <p class="text-justify"> {{ municipioSeleccionado.clima }} </p>
            <h4> Recursos Naturales: </h4>
            <p class="text-justify"> {{ municipioSeleccionado.recursos }} </p>
            <h4>Principales Ecosistemas: </h4>
            <p class="text-justify"> {{ municipioSeleccionado.principales }} </p>
            <button type="button" class="btn btn-outline-danger float-right " (click)="back()"> Regresar </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-ms-12">
            <p>Bibliografia:
                Enciclopedia de Los Municipios y Delegaciones de México
                Estado de Puebla.
            </p>
            <p>
                http://www.inafed.gob.mx/work/enciclopedia/EMM21puebla/municipios/municipios.html</p>
        </div>
    </div>
    <hr>
    <!-- <div class="row">
        <div class="col-md-12">
            <h4> Resultados obtenidos en el taller: </h4>
            <app-line [lineChartData]="municipioSeleccionado.grafica[0].chartData" [lineChartLabels]="municipioSeleccionado.grafica[0].bChartLab" ></app-line>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-line [lineChartData]="municipioSeleccionado.grafica[1].chartData" [lineChartLabels]="municipioSeleccionado.grafica[1].bChartLab" ></app-line>
        </div>
    </div> -->
    <h4> Resultados obtenidos en el taller: </h4>
    <div class="row" *ngFor="let item of municipioSeleccionado.grafica; let i=index">
        <div class="col-md-12">
            <!-- <p class="text-center">
                {{ municipioSeleccionado.grafica[i].texto }}
            </p> -->
            <app-line [texto]="municipioSeleccionado.grafica[i].texto" [lineChartData]="municipioSeleccionado.grafica[i].chartData" [lineChartLabels]="municipioSeleccionado.grafica[i].bChartLab"></app-line>
        </div>
    </div>

</div>
<hr>
<div>
    
</div>