<div class="container animated fadeIn fast">
    <h3 class="text-center">{{ municipioSeleccionado.nombre }} <small>Descripción de Municipio</small> </h3>
    <div class="row">
        <div class="col-4">
            
        </div>
        <div class="col-8">
            <h3 class="text-center">  </h3>
        </div>
    </div>

    <div class="row">
            <div class="col-6">
                <img [src]="municipioSeleccionado.imagen" alt="{{municipioSeleccionado.nombre}}">
                <h4>Localización:</h4>
                <p class="text-justify"> {{ municipioSeleccionado.descripcion }} </p>
                <h4>Extensión:</h4>
                <p class="text-justify"> {{ municipioSeleccionado.extension }} </p>
            </div>
            <div class="col-6">
                <h4>Clima:</h4>
                <p class="text-justify"> {{ municipioSeleccionado.clima }} </p>
                <h4> Recursos Naturales: </h4>
                <p class="text-justify"> {{ municipioSeleccionado.recursos }} </p>
                <h4>Principales Ecosistemas: </h4>
                <p class="text-justify"> {{ municipioSeleccionado.principales }} </p>

                <button type="button" class="btn btn-outline-danger float-right " (click)="back()"> Regresar </button>
            </div>

           
        </div>
<hr>
        <div class="row">
            <div class="col">
                <p>Bibliografia:
                    Enciclopedia de Los Municipios y Delegaciones de México
                    Estado de Puebla.
                    http://www.inafed.gob.mx/work/enciclopedia/EMM21puebla/municipios/municipios.html
                </p>
            </div>
        </div>

</div>