<ng-container>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <app-one></app-one>
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="text-justify">
                Huauchinango, Zautla, Teotlalco, San Andrés Cholula, Huejotzingo, Chignahuapan y Calpan percibieron
                como mayor amenaza a las lluvias.</p>
            <p class="text-justify">
                La mayoría de los municipios de la Sierra tanto norte como nororiental; Chignahuapan, Huauchinango,
                Zacapoaxtla y Teziutlán, presentaron mayor amenaza en el factor de heladas y granizadas
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <app-two></app-two>
        </div>
    </div>
</ng-container>