/* .navM{
        margin-top: auto;
        margin-bottom: auto;
} */

.bodyM{
        margin-top: 70px;
        margin-bottom: auto;
}

/* .footerM{
        margin-top: auto;
        margin-bottom: auto;
} */