.mat-expansion-panel-header-title {
        color: #000000;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
        color: #ffffff;
}

.mat-expansion-panel {
        background: #9a9a9a;
        color: #191a1b;
}
