<ng-container class="container estilo">
    <tabset [justified]="true">
        <tab heading="Primer taller">
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>El 29 de noviembre de 2018 en el Centro de Estudios de Desarrollo Económico y Social de la
                            Benemérita Universidad Autónoma de Puebla (CEDES-BUAP),
                            se llevó a cabo el taller “Planificación para afrontar los retos del cambio climático”, en
                            el
                            que participaron representantes de 21 municipios del estado de Puebla.
                        </p>
                        <p>El presente trabajo muestra las percepciones de los representantes de los municipios antes
                            mencionados esto a través de las dos encuestas
                            que los mismos respondieron durante el taller, y en contraste se muestran las declaratorias
                            según el Centro Nacional de Desastres (CENAPRED).
                        </p>
                    </div>
                    <div class="col-6">
                        <p>Se realizaron 2 encuestas, la primera fue para conocer las percepciones que tenían con
                            respecto a
                            amenazas climáticas tales como: lluvias, sequías, heladas-granizadas, inundaciones y golpes
                            de
                            calor. En la segunda encuesta se pregunta acerca de la vulnerabilidad de sectores
                            productivos
                            ante las amenazas climatológicas.</p>

                        <p> Finalmente se muestran las declaratorias que ha emitido el Centro Nacional de Prevención de
                            Desastres (CENAPRED) y el impacto socioeconómico que generan éstas.
                        </p>
                    </div>


                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-align: center;">Resultados</h3>
                    </div>
                    <div class="col-12">
                        <app-grappcharts></app-grappcharts>
                    </div>

                </div>
            </div>
        </tab>
        <!-- <tab heading="Segundo Taller">Short Labeled Justified content</tab>
        <tab heading="Tercer taller">Long Labeled Justified content</tab> -->
    </tabset>
    <!-- <tabset type="pills">
        <tab heading="Taller 1">
            <div class="container">
                <div class="row">
                    <p>El 29 de noviembre de 2018 en el Centro de Estudios de Desarrollo Económico y Social de la
                        Benemérita Universidad Autónoma de Puebla (CEDES-BUAP),
                        se llevó a cabo el taller “Planificación para afrontar los retos del cambio climático”, en el
                        que participaron representantes de 21 municipios del estado de Puebla.
                    </p>
                    <p>El presente trabajo muestra las percepciones de los representantes de los municipios antes
                        mencionados esto a través de las dos encuestas
                        que los mismos respondieron durante el taller, y en contraste se muestran las declaratorias
                        según el Centro Nacional de Desastres (CENAPRED).
                    </p>
                    <p>Se realizaron 2 encuestas, la primera fue para conocer las percepciones que tenían con respecto a
                        amenazas climáticas tales como: lluvias, sequías, heladas-granizadas, inundaciones y golpes de
                        calor. En la segunda encuesta se pregunta acerca de la vulnerabilidad de sectores productivos
                        ante las amenazas climatológicas.</p>

                    <p> Finalmente se muestran las declaratorias que ha emitido el Centro Nacional de Prevención de
                        Desastres (CENAPRED) y el impacto socioeconómico que generan éstas.
                    </p>
                </div>
                <hr>
                <div class="row">
                    <h3 style="text-align: center;box-shadow: 7px 7px 4px 0px darkgrey;">Resultados</h3>
                    <app-graphcharts></app-graphcharts>
                </div>
            </div>


        </tab>
        <tab heading="Taller 2">Pills content 2</tab>
    </tabset> -->
</ng-container>