<ng-container class="container estilo">
    <tabset [justified]="true">
        <tab heading="Primer taller">
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>El 29 de noviembre de 2018 en el Centro de Estudios de Desarrollo Económico y Social de la
                            Benemérita Universidad Autónoma de Puebla (CEDES-BUAP),
                            se llevó a cabo el taller “Planificación para afrontar los retos del cambio climático”, en
                            el
                            que participaron representantes de 21 municipios del estado de Puebla.
                        </p>
                        <p>El presente trabajo muestra las percepciones de los representantes de los municipios antes
                            mencionados esto a través de las dos encuestas
                            que los mismos respondieron durante el taller, y en contraste se muestran las declaratorias
                            según el Centro Nacional de Desastres (CENAPRED).
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>Se realizaron 2 encuestas, la primera fue para conocer las percepciones que tenían con
                            respecto a
                            amenazas climáticas tales como: lluvias, sequías, heladas-granizadas, inundaciones y golpes
                            de
                            calor. En la segunda encuesta se pregunta acerca de la vulnerabilidad de sectores
                            productivos
                            ante las amenazas climatológicas.</p>

                        <p> Finalmente se muestran las declaratorias que ha emitido el Centro Nacional de Prevención de
                            Desastres (CENAPRED) y el impacto socioeconómico que generan éstas.
                        </p>
                    </div>


                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-align: center;">Resultados</h3>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <app-grappcharts></app-grappcharts>
                    </div>

                </div>
            </div>
        </tab>
    </tabset>
</ng-container>