<div class="row">
    <div class="col-12">
        <h4 class="display-9 text-center ">Municipios participantes por región </h4>
    </div>
</div>
<div class="row ">
    <div class="col-md-7 col-sm-12  border-primary   p-3 mb-5  rounded ">
        <img src="assets/images/mapa_puebla.png" alt="">
    </div>
    <div class="col-md-5 col-ms-12 table-responsive border-primary  p-3 mb-5  rounded">

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Región</th>
                    <th scope="col">Municipios</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">I</th>
                    <td>
                        <button type="button" class="btn btn-outlet-primary" (click)="viewRegion( 1 )">Sierra Norte</button>
                    </td>
                    <td>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let srn of SierraN" (click)="selectReg1(srn)">
                                {{srn.nombre}}
                            </mat-list-option>
                        </mat-selection-list>
                    </td>
                </tr>
                <tr>
                    <th scope="row">II</th>
                    <td>
                        <button type="button" class="btn btn-outlet-primary"  (click)="viewRegion( 2 )">Sierra Nororiental</button>
                    </td>
                    <td>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let srnor of SieraNor" (click)="selectReg2(srnor)">
                                {{srnor.nombre}}
                            </mat-list-option>
                        </mat-selection-list>
                    </td>
                </tr>
                <tr>
                    <th scope="row">IV</th>
                    <td>
                        <button type="button" class="btn btn-outlet-primary"  (click)="viewRegion( 4 )">Angelopolis</button>
                    </td>
                    <td>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let ang of Angel" (click)="selectReg3(ang)">
                                {{ang.nombre}}
                            </mat-list-option>
                        </mat-selection-list>
                    </td>
                </tr>
                <tr>
                    <th scope="row">VI</th>
                    <td>
                        <button type="button" class="btn btn-outlet-primary"  (click)="viewRegion( 6 )">Mixteca</button>
                    </td>
                    <td>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let mixt of Mixteca" (click)="selectReg4(mixt)">
                                {{mixt.nombre}}
                            </mat-list-option>
                        </mat-selection-list>
                    </td>
                </tr>
                <tr>
                    <th scope="row">VII</th>
                    <td>
                        <button type="button" class="btn btn-outlet-primary"  (click)="viewRegion( 7 )">Tehuacan y Sierra Negra</button>
                    </td>
                    <td>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option *ngFor="let t of Tehua" (click)="selectReg5(t)">
                                {{t.nombre}}
                            </mat-list-option>
                        </mat-selection-list>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>