
<ng-container class="container estilo">
    <tabset [justified]="true">
        <tab heading="Primer taller">
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                      <div class="form-row align-items-center" *ngIf="isLoaded" style="text-align: center;">
                        <div class="col-auto"><button class="btn btn-outline-primary btn-sm btn-block" (click)="prevPage()"
                            [disabled]="page === 1"><i class="fas fa-angle-double-left"></i></button></div>
                        <div class="col-auto"><span class="span">{{ page }} / {{ totalPages }}</span></div>
                        <div class="col-auto"><button class="btn btn-outline-primary btn-sm btn-block" (click)="nextPage()"
                            [disabled]="page === totalPages"><i class="fas fa-angle-double-right"></i></button></div>
                        <div class="col-auto"><button class="btn btn-outline-primary btn-sm btn-block" (click)="zoomOut()"
                            [disabled]="zoom_in === 0.5"><i class="fas fa-search-minus"></i></button></div>
                        <div class="col-auto"><span class="span"> {{ zoom_in }} </span></div>
                        <div class="col-auto"><button class="btn btn-outline-primary btn-sm btn-block" (click)="zoomIn()"
                            [disabled]="zoom_in === 2"> <i class="fas fa-search-plus"></i></button></div>
                      </div>
                
                      <pdf-viewer class="visor" src="{{ url }}" [show-all]="false" [show-borders]="false" [page]="page" [original-size]="false"
                        [autoresize]="true" [zoom]="zoom_in" (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>
                    </div>
                
                
                    <div class="col-4">
                      <div class="row">
                        <div class="col-12">
                          <h4>Material de investigación</h4>
                        </div>
                        <div class="col-12">
                          <div class="card" *ngFor="let item of files">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-4"><img src="{{ item.image }}" width="100" alt=""></div>
                                <div class="col-8">
                                  <p class="card-text">{{ item.description }} 
                                    <button class="btn btn-outline-primary btn-block" (click)="mundo( item.url )">
                                      <i class="fas fa-book-open"></i>
                                       ver...
                                      </button></p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </tab>
    </tabset>
</ng-container>